.slimScrollBar {
  visibility: hidden; }

.cv {
  z-index: 1000;
  background-color: white;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  width: 100%; }

.cv .navigation a {
  color: black; }

#wrap {
  max-width: 50em;
  margin: 0 auto;
  margin-top: 50px;
  overflow-y: scroll; }

#wrap :target {
  background-color: #e6e6e6;
  padding-left: 10px;
  padding-right: 10px; }

#title {
  text-align: center; }

#name {
  text-align: center;
  letter-spacing: 1.5px;
  margin-left: 3px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
  padding-bottom: 20px;
  display: inline-block;
  background-color: blue;
  width: 30%;
  margin: 0 auto; }

#name i {
  float: right;
  font-size: 4em;
  display: inline;
  background-color: red; }

.title {
  padding: 20px; }

.title i {
  display: inline-block; }

.elem {
  padding: 10px;
  margin-top: 1em;
  line-height: 20px;
  border-left: 1px solid rgba(100, 100, 100, 0.2);
  padding-left: 10px; }

.elem .year {
  font-style: italic;
  float: right;
  padding-top: 5px;
  padding-bottom: 10px; }

.elem .year span {
  margin: 10px 0;
  display: block; }

.elem h3 {
  line-height: 30px;
  font-size: 1.5em;
  padding-left: -20px;
  padding-top: 5px;
  color: #646464; }

.elem b {
  padding: .5em;
  display: inline-block;
  min-width: 50px; }

.elem .explanation {
  display: inline-block;
  width: 70%; }

.elem ul {
  background: red;
  display: inline-block;
  width: 50%; }

.cv-section {
  padding: 10px; }

.cv-section:not(:first-of-type) {
  margin-top: 10px;
  border-top: 1px dashed #c8c8c8; }

@media screen and (max-width: 1082px) {
  #content {
    margin-bottom: 90px; } }

img {
  padding-top: 20px;
  max-width: 100%;
  height: auto; }

body {
  margin: 0; }

#index {
  position: absolute;
  left: 0;
  margin-left: 5%;
  margin-top: 2em; }

#index #table-of-content {
  position: fixed;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  height: 80%; }

#index li, #index ol {
  padding: 7px; }

#content {
  margin-left: 30%;
  position: relative;
  max-width: 100%; }

#content h1 {
  font-size: 2em;
  margin-bottom: .3em; }

@media screen and (max-width: 1082px) {
  #mobile-menu {
    visibility: visible;
    border-top: 1px solid black;
    bottom: 0;
    z-index: 100;
    position: fixed;
    text-align: center;
    background: white;
    margin: 0;
    padding: 20px;
    width: 29.5%; }
  #mobile-menu button {
    margin: 0;
    margin-right: 40px;
    border: 0;
    font-size: 100%;
    border-bottom: 1px solid black;
    background: white; }
  #index {
    display: none;
    margin: 0 auto; }
  #index #table-of-content {
    padding-bottom: 80px;
    padding-top: 3%;
    padding-left: 2%;
    z-index: 3;
    background: white;
    width: 100%;
    font-size: 110%;
    /* height: 80%; */
    bottom: 0; }
  #content {
    margin: 0 auto; } }

@media screen and (max-width: 771px) {
  #content {
    margin: 10px;
    width: 92%; }
  .year {
    width: 100%; } }

.menu {
  display: block;
  width: 500px;
  height: 100%;
  background-color: blue; }

.menu ul li {
  display: inline;
  float: left;
  list-style: none; }

img.smaller {
  height: 50%;
  width: 50%;
  margin: 0 auto;
  display: block; }

img.small {
  height: 60%;
  width: 60%;
  display: block;
  margin: 0 auto; }

.cv-title {
  margin-top: 10px;
  text-align: center; }

.cv-title h3 {
  margin-right: 255px;
  letter-spacing: 1.5px; }

.cv-title h1 {
  font-size: 2em; }

.cv-title .menu {
  margin-left: 50px;
  font-size: 2em; }

.cv-title .menu li {
  border-bottom: 2px solid #646464;
  padding-bottom: 10px; }
