/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'Lato', sans-serif; }

@font-face {
  font-family: Aleo;
  src: url(../fonts/aleo-regular-webfont.ttf); }

.name {
  font-family: Aleo; }

body {
  font-family: "Lato", sans-serif;
  color: black; }

h1 {
  font-size: 3em; }

a {
  text-decoration: none;
  color: inherit;
  border-bottom-width: 2px; }

a.link {
  border-bottom: 1px solid; }

a:hover {
  font-weight: 800;
  border-bottom-width: 5px; }

b {
  font-weight: 700; }

.white-box {
  background-color: white;
  height: 100%;
  opacity: 0;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 2; }

.bg-img {
  position: relative;
  background-color: red;
  height: 100%;
  width: 100%;
  background: url("../img/dubi-ipad-copy.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  z-index: 1;
  overflow: hidden;
  background-color: white; }

@media only screen and (min-width: 64.063em) {
  .bg-img {
    background-size: cover;
    width: 110%;
    background-position-y: -150px;
    font-size: 1.5em;
    margin-left: -40px; } }

.project-details {
  z-index: 4;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  width: 50%;
  color: black;
  position: fixed;
  top: 0px; }

.project-details * {
  font-family: "Lato", sans-serif; }

.project-details .navigation {
  position: fixed;
  top: 0;
  margin-bottom: 100px;
  padding-bottom: 3em; }

.project-details .navigation a {
  position: absolute;
  color: black; }

.project-details::-webkit-scrollbar {
  width: 0 !important; }

.project-details .project-card {
  position: relative;
  z-index: 100;
  height: 100%;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 200px;
  padding-top: 10px; }

.project-details .project-card .pj-intro {
  padding-left: 20px;
  padding-right: 20px; }

@media only screen and (min-width: 64.063em) {
  .project-details .project-card {
    margin-top: 500px; } }

.project-details .project-card .name {
  margin-bottom: 0;
  font-family: Lato;
  margin-top: 10px;
  z-index: 100; }

.project-details .project-card .intro {
  font-style: italic;
  font-family: Lato;
  font-weight: 300;
  /* dubi: */
  font-family: Lato-Medium;
  letter-spacing: 0.44px;
  color: #a2a2a2;
  font-size: 1.5em;
  margin-top: 0; }

.project-details .project-card .dotted {
  border-bottom: 1px dotted #e6e6e6;
  border-width: 3px;
  width: 100%;
  margin-left: 0px;
  margin-top: -10px; }

.project-details .project-card .info-wrap {
  padding-top: 20px;
  /* Periode: : */
  font-family: Lato-Bold;
  font-size: 17px;
  color: #959595;
  letter-spacing: 0px;
  text-align: right;
  width: 25%;
  line-height: 30px;
  float: left; }

.project-details .project-card .info-wrap :first-child {
  margin-top: 0px; }

@media only screen and (max-width: 40em) {
  .project-details .project-card .info-wrap :last-child {
    margin-top: 45px; } }

@media only screen and (min-width: 40.063em) {
  .project-details .project-card .info-wrap {
    font-size: 1.5em;
    margin-left: -40px; } }

.project-details .project-card .info-info-wrap {
  padding-top: 2px;
  line-height: 30px;
  /* info of the info */
  font-family: Lato-Regular;
  font-size: 17px;
  color: #3C3C3C;
  letter-spacing: 0px;
  text-align: left; }

@media only screen and (max-width: 40em) {
  .project-details .project-card .info-info-wrap {
    margin-left: 100px; } }

@media only screen and (min-width: 40.063em) {
  .project-details .project-card .info-info-wrap {
    font-size: 1.5em;
    padding-left: 140px;
    margin-top: -5px;
    line-height: 30px; }
  .project-details .project-card .info-info-wrap :last-child {
    margin-top: 25px; } }

@media only screen and (min-width: 64.063em) {
  .project-details .project-card .info-info-wrap {
    padding-left: 300px; } }

.project-details .project-card .project-body {
  line-height: 25px;
  font-size: 1em; }

@media only screen and (min-width: 40.063em) {
  .project-details .project-card .project-body {
    font-size: 2em;
    padding: 20px;
    line-height: 50px; } }

@media only screen and (min-width: 64.063em) {
  .project-details .project-card .project-body {
    font-size: 3.5; } }

body {
  background-color: #86A4E7;
  overflow: hidden; }

.loading {
  text-align: center;
  font-size: 15em;
  position: absolute;
  z-index: 10;
  float: left; }

.title-wrap {
  text-align: center;
  margin-top: -10em; }

.title-wrap h1, .title-wrap h3 {
  color: white; }

.title-wrap h1 {
  letter-spacing: 2px;
  font-size: 2.5em;
  display: inline-block;
  margin-bottom: -1px; }

@media only screen and (max-width: 40em) {
  .title-wrap h1 {
    font-size: 2.5em; } }

@media only screen and (min-width: 64.063em) {
  .title-wrap h1 {
    font-size: 6.25em; } }

.title-wrap h3 {
  margin-top: -30px;
  display: inline-block;
  font-weight: 300;
  font-size: 1.995em; }

@media only screen and (min-width: 64.063em) {
  .title-wrap h3 {
    font-size: 4.77em; } }

.nav {
  color: white;
  margin: 10%;
  font-size: 2em;
  text-decoration: none;
  margin-top: 10%; }

.nav .to-cv {
  float: left;
  width: 4em; }

.nav .to-cv i {
  float: left; }

.nav .to-folio {
  position: fixed;
  width: 25%;
  bottom: 0; }

@media only screen and (min-width: 64.063em) {
  .nav .to-folio {
    font-size: 2em;
    width: 26%; } }

.nav .to-folio p {
  margin-top: -20px; }

.nav .to-about {
  float: right;
  width: 4em; }

.nav .to-about i {
  float: right; }

.nav a {
  text-align: center; }

a {
  text-decoration: none; }

.preview {
  overflow: hidden;
  color: white;
  font-size: 1em;
  height: 100%;
  width: 100%; }

.preview.img-dubi {
  position: relative; }

.preview.img-dubi:before {
  overflow: hidden;
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  height: 200%;
  width: 199%; }

@media only screen and (max-width: 40em) {
  .preview.img-dubi:before {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("../img/dubi-ipad-copy.png");
    background-size: 170%;
    background-position-x: -270px;
    background-position-y: center; } }

@media only screen and (min-width: 40.063em) {
  .preview.img-dubi:before {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/dubi-ipad-copy.png");
    background-size: cover;
    background-position: -1000px 200px; } }

@media only screen and (min-width: 64.063em) {
  .preview.img-dubi:before {
    background: url("../img/dubi-ipad-copy.png"); } }

.preview.img-dubi .project-info {
  position: absolute;
  margin: 0 auto;
  text-align: right;
  right: 0;
  padding-right: 15px;
  padding-top: 15px; }

.preview.img-dubi .project-info a {
  font-size: 1.5em; }

@media only screen and (max-width: 40em) {
  .preview.img-dubi .project-info {
    font-size: 1.3em; } }

@media only screen and (min-width: 40.063em) {
  .preview.img-dubi .project-info {
    font-size: 2.5em; } }

@media only screen and (min-width: 40.063em) {
  .preview.img-dubi .project-info {
    width: 98%; }
  .preview.img-dubi .project-info a {
    line-height: 100px; } }

.preview.img-kutt {
  position: relative;
  overflow: hidden; }

.preview.img-kutt:before {
  overflow: hidden;
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  height: 200%;
  width: 199%; }

@media only screen and (max-width: 40em) {
  .preview.img-kutt:before {
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../img/kutt_front_small_color.png");
    background-size: 90%;
    background-position-y: center;
    background-repeat: no-repeat; } }

@media only screen and (min-width: 40.063em) {
  .preview.img-kutt:before {
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../img/kutt_front_small_color.png");
    background-size: 100%;
    background-position: -100px 300px;
    background-repeat: no-repeat; } }

@media only screen and (min-width: 64.063em) {
  .preview.img-kutt:before {
    background: linear-gradient(transparent, transparent), url("../img/kutt_front_big.png");
    background-size: cover;
    background-position-x: -400px;
    background-position-y: -300px;
    background-repeat: no-repeat; } }

.preview.img-kutt .project-info {
  position: absolute;
  margin: 0 auto;
  text-align: right;
  right: 0;
  padding-right: 15px;
  padding-top: 15px;
  position: absolute;
  width: 90%;
  top: 70%; }

.preview.img-kutt .project-info a {
  font-size: 1.5em; }

@media only screen and (max-width: 40em) {
  .preview.img-kutt .project-info {
    font-size: 1.3em; } }

@media only screen and (min-width: 40.063em) {
  .preview.img-kutt .project-info {
    font-size: 2.5em; } }

.preview.img-kutt .project-info a {
  line-height: 70px; }

@media only screen and (max-width: 40em) {
  .preview.img-kutt .project-info {
    text-align: left;
    left: 10%;
    top: 10%; } }

@media only screen and (min-width: 40.063em) {
  .preview.img-kutt .project-info {
    text-align: left;
    left: 10%;
    top: 10%; } }

@media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
  .preview.img-kutt .project-info {
    color: black;
    left: 18%;
    text-align: center; } }

.preview.img-grafisk {
  position: relative;
  overflow: hidden; }

.preview.img-grafisk:before {
  overflow: hidden;
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  height: 200%;
  width: 199%; }

@media only screen and (max-width: 40em) {
  .preview.img-grafisk:before {
    background: linear-gradient(transparent, transparent), url("../img/stripy_vert_striped.png");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat; } }

@media only screen and (min-width: 40.063em) {
  .preview.img-grafisk:before {
    background: linear-gradient(transparent, transparent), url("../img/stripy_vert_striped.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat; } }

@media only screen and (min-width: 64.063em) {
  .preview.img-grafisk:before {
    background: linear-gradient(transparent, transparent), url("../img/stripy_vert_striped.png");
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat; } }

.preview.img-grafisk .project-info {
  position: absolute;
  margin: 0 auto;
  text-align: right;
  right: 0;
  padding-right: 15px;
  padding-top: 15px;
  color: black;
  right: 1px;
  top: 47%; }

.preview.img-grafisk .project-info a {
  font-size: 1.5em; }

@media only screen and (max-width: 40em) {
  .preview.img-grafisk .project-info {
    font-size: 1.3em; } }

@media only screen and (min-width: 40.063em) {
  .preview.img-grafisk .project-info {
    font-size: 2.5em; } }

.preview.img-grafisk .project-info a {
  line-height: 50px; }

@media only screen and (max-width: 40em) {
  .preview.img-grafisk .project-info {
    top: 43%; } }

@media only screen and (min-width: 40.063em) {
  .preview.img-grafisk .project-info {
    top: 43%; } }

.site-title {
  position: absolute;
  color: white;
  z-index: 10;
  padding: 20px 20px;
  bottom: 0;
  margin-bottom: 100px;
  height: 5%;
  transition: all 1s; }

.site-title h1 {
  position: relative;
  top: 20px; }

.site-title p {
  font-size: 1.6em; }

@media only screen and (max-width: 40em) {
  .site-title {
    font-size: 0.8em; } }

@media only screen and (min-width: 40.063em) {
  .site-title {
    margin-bottom: 150px;
    font-size: 1.2em; } }

@media only screen and (min-width: 64.063em) {
  .site-title {
    margin-bottom: 150px;
    font-size: 1.2em; } }

.left-arrow {
  display: inline-block;
  float: left;
  position: absolute;
  top: 7%;
  font-size: 1.25em; }

.back {
  float: left; }

.navigation {
  position: absolute;
  width: 100vw;
  z-index: 100;
  padding: 10px;
  top: 0; }

.navigation a {
  font-size: 2em;
  color: white;
  margin-right: 20px; }

.navigation a.left {
  float: left; }

.navigation a.right {
  float: right; }

i {
  padding: 5px; }

.arrow {
  top: 0; }

.cv-arrow {
  position: absolute;
  float: right;
  right: 0; }

.cv-arrow i {
  position: relative; }

#fp-nav > ul > li a {
  border: 0; }

#fp-nav > ul > li a span {
  background-color: white; }
