.navigation {
  position: absolute;
  width: 100vw;
  z-index: 100;
  padding: 10px;
  top: 0;
  a {
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
    font-size: 2em;
    color: white;
    margin-right: 20px;
  }
}
i {
  padding: 5px;
}
.arrow {
  top: 0;
}
// .arrow-right {
//   color: white;
//   font-size: 3em;
//   top: 0;
//   z-index: 1000;
// }
// .arrow {
//   color: white;
//   cursor: pointer;
//   position: absolute;
//   font-size: 3em;
//   top: 2px;
//   &-right {
//     // margin-right: 1.2em;
//     // position: absolute;
//
//     // left: 40%;
//     // top: 10px;
//     // left: 40%;
//     right: 0;
//   }
  // i {
  //   float: right;
  //   display: inline;
  //   font-size: 3em;
  //   position: fixed;
  // }
.cv-arrow {
    position: absolute;
    float: right;
    right: 0;
    i {
      position: relative;
    }
    // cursor: pointer;
    // position: absolute;
    // float: right;
    // right: 0;
    // top: 30px;
    // font-size: 3em;
    // margin-right: 1em;

}

#fp-nav > ul > li {
  a {
    border: 0;
  }
  a span {
    background-color: white;
  }
}

// .site-title {
//   width: 100%;
//
//   position: absolute;
//   // padding: 20px;
//   padding: 20px 20px;
//   bottom: 0;
//   background-color: black;
//   color: white;
//   z-index: 10;
//   font-size: .8em;
// }
//
// .fp-viewing-kjottkutt-0 .site-title {
//   bottom: 100px;
// }
