
a {
  text-decoration: none;
}
@mixin bg-image{
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;

}
@mixin pj-info {
  // visibility: hidden;
  // width: 100%;
  position: absolute;
  margin: 0 auto;
  // top: -5px;
  text-align: right;
  right: 0;
  padding-right: 15px;
  padding-top: 15px;
  // font-size: 10%;
  // font-weight: 400;
  // letter-spacing: 3px;
  // line-height: 60px;
  a {
    font-size: 1.5em;

  }
  @include bp(small) {
    font-size: 1.3em;

    // line-height: 150%;
  }
  @include bp(medium) {
    font-size: 2.5em;
    // line-height: 150%;
  }
}
@mixin before {
  overflow: hidden;
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  height: 200%;
  width: 199%;
}
.preview {
  overflow: hidden;
  color: white;
  font-size: 1em;
  // color: white;
  height: 100%;
  width: 100%;
    &.img {
      &-dubi {
        position: relative;
        &:before {

          @include before;
          @include bp(small) {
            background:     linear-gradient(
              rgba(0, 0, 0, 0.30),
              rgba(0, 0, 0, 0.10)
            ), url("../img/dubi-ipad-copy.png");
            // ), url("../img/macbook.jpg");
            // background: url("../img/dubi-ipad-copy.png");
            background-size: 170%;
            background-position-x: -270px;
            background-position-y: center;
            // transform: rotate(20deg);

          }
          @include bp(medium) {
            background:     linear-gradient(
              rgba(0, 0, 0, 0.45),
              rgba(0, 0, 0, 0.45)
            ), url("../img/dubi-ipad-copy.png");
            // ), url("../img/macbook.jpg");
            background-size: cover;
            // background-position: center;
            // background-position-x: -1000px;
            background-position: -1000px 200px;
            // background-position-y: 200px;
          }
          @include bp(large) {
            // // background: url("../img/dubi_home_2.jpg");
            // background: url("../img/dubi-ipad-copy.png");
            // // background:     linear-gradient(
            // //   rgba(20deg, 0, 0, 0.10),
            // //   rgba(0, 0, 0, 0.10)
            // // ), url("../img/dubi_home_2.jpg");
            // @-moz-document url-prefix() {
            // }
            // background-position: center;
            // background-size: 53%;
            // background-repeat: no-repeat;
            background: url("../img/dubi-ipad-copy.png");
          }
        }
        .project-info {
          @include pj-info;
          // top: 15%;
          // left: 0;
          @include bp(small) {
            // text-align: left;
            // padding-left: 10%;
            // width: 90%;
            a {
              // line-height: 70px;
            }

          }
          @include bp(medium) {
            width: 98%;
            a {
              line-height: 100px;
            }
          }
          @include bp(large) {


          }
        }
      }
      &-kutt {
        position: relative;
        overflow: hidden;
        &:before {
          @include before;
          @include bp(small) {
            background:     linear-gradient(
              rgba(0, 0, 0, 0.15),
              rgba(0, 0, 0, 0.15)
            ), url("../img/kutt_front_small_color.png");
            background-size: 90%;
            // background-position-x: -70px;
            background-position-y: center;
            background-repeat: no-repeat;

          }
          @include bp(medium) {
            background:     linear-gradient(
              rgba(0, 0, 0, 0.15),
              rgba(0, 0, 0, 0.15)
            ), url("../img/kutt_front_small_color.png");
            background-size: 100%;
            // background-position-x: -100px;
            background-position: -100px 300px;
            // background-position-y: 300px;
            background-repeat: no-repeat;
          }
          @include bp(large) {

            background:     linear-gradient(
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 0)
            ), url("../img/kutt_front_big.png");
            background-size: cover;
            background-position-x: -400px;
            background-position-y: -300px;
            background-repeat: no-repeat;
            // transform: rotate(40deg);
          }
        }
        .project-info {
          @include pj-info;
          position: absolute;
          width: 90%;
          top: 70%;
          a {
            line-height: 70px;
          }
          @include bp(small) {
            text-align: left;
            left: 10%;
            top: 10%;
          }
          @include bp(medium) {
            text-align: left;
            left: 10%;
            top: 10%;
            a {
            }
            @include bp(large) {
              color: black;
              left: 18%;
              text-align: center;
            }
          }
        }
      }
      &-grafisk {
        position: relative;
        overflow: hidden;
        &:before {
          @include before;
          @include bp(small) {
            background:     linear-gradient(
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 0)
            ), url("../img/stripy_vert_striped.png");
            background-size: 75%;
            background-position: center;

            background-repeat: no-repeat;
          }
          @include bp(medium) {
            background:     linear-gradient(
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 0)
            ), url("../img/stripy_vert_striped.png");
            background-size: 80%;
            background-position: center;
            background-repeat: no-repeat;
          }
          @include bp(large) {
            background:     linear-gradient(
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 0)
            ), url("../img/stripy_vert_striped.png");
            background-size: 30%;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        .project-info {
          @include pj-info;
          color: black;
          right: 1px;
          top: 47%;
          a {
            line-height: 50px;
          }
          @include bp(small) {
            top: 43%;

          }
          @include bp(medium) {
            top: 43%;

          }
        }
      }
    }
  }

  .site-title {
    position: absolute;
    // width: 47.5%;
    // width: 100%;
    // background-color: black;
    color: white;
    z-index: 10;
    padding: 20px 20px;
    bottom: 0;
    margin-bottom: 100px;
    // font-size: 1em;
    $titleSize: 0.8em;
    $introSize: 1.6em;
    height: 5%;
    transition: all 1s;
    a {
      // bottom: 0;
    }
    h1 {
      position: relative;
      top: 20px;
    }
    p {
      font-size: $introSize;
    }
    @include bp(small) {
      font-size: $titleSize;

    }
    @include bp(medium) {
      margin-bottom: 150px;
      font-size: $titleSize * 1.5;
    }
    @include bp(large) {
      margin-bottom: 150px;
      font-size: $titleSize * 1.5;
      // bottom: 15%;

    }
  }
  .left-arrow {
    display: inline-block;
    float: left;

    position: absolute;
    top: 7%;
    font-size: 1.25em;
    // margin-top: 4px;
    // margin: 0;
    // margin-top: 0.4em;
    // font-weight: 800;
  }
  .back {
    float: left;
  }
  // .fp-viewing-kjottkutt-1 .site-title {
  //   height: 100%;
  // }
