@import "mixins";
.cv {
height: 100%;
-webkit-overflow-scrolling: touch;
overflow-y: scroll;
width: 100%;
#wrap {
  max-width: 50em;
  margin: 0 auto;

  // overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;
  // height: 100%;
  :target {
    background-color: rgb(230, 230, 230);
    padding-left: 10px;
    padding-right: 10px;
  }
}

.title {
  font-size: 3em;
  padding: 20px;
}

$border: rgba(100 , 100, 100, .2);

.elem {
  padding: 10px;
  margin-top: 1em;
  line-height: 20px;
  .year {
    font-style: italic;
    float: right;
    padding-top: 5px;
    padding-bottom: 10px;
    span {
      margin: 10px 0;
      display: block;
    }
  }
  border-left: 1px solid $border;
  padding-left: 10px;
  h3 {
    line-height: 30px;
    font-size: 1.5em;
    padding-left: -20px;
    padding-top: 5px;
    color: rgb(100, 100, 100);
  }
  b {
    padding: .5em;
    display: inline-block;
    min-width: 50px;
    //margin-right: 10px;
  }
  .explanation {
    display: inline-block;
    width: 70%;
  }

  ul {
    background: red;
    display: inline-block;
    width: 50%;
    li {
      // list-style: circle;
    }
  }
}

.cv-section {
  padding: 10px;
  &:not(:first-of-type) {
    margin-top: 10px;
    border-top: 1px dashed rgba(200, 200, 200, 1);
  }
}

@media screen and (max-width: 1082px) {
  #content {
    //margin: 10px;
    //width: 100%;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 771px) {

}
}

// style

.title {
  margin-top: 10px;
}

img {
  padding-top: 20px;
  max-width: 100%;
  height: auto;
}
#mobile-menu {
  visibility: hidden;

}


body {
  margin: 0;
}

#index {
  position: absolute;
  left: 0;
  margin-left: 5%;
  margin-top: 2em;
  #table-of-content {
    position: fixed;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    height: 80%;
  }
  li, ol {
    padding: 7px;
  }
}

#content {
  margin-left: 30%;
  position: relative;
  max-width: 100%;
  h1 {
    font-size: 2em;
    margin-bottom: .3em
  }

}

@media screen and (max-width: 1082px){
  #mobile-menu {
    visibility: visible;
    border-top: 1px solid black;
    bottom: 0;
    z-index: 100;
    position: fixed;
    text-align: center;
    background: red;
    margin: 0;
    padding: 20px;
    width: 30%;
    button {
      margin: 0;
      margin-right: 40px;
      border: 0;
      font-size: 100%;
      border-bottom: 1px solid black;
      background: white;

    }
  }
  #index {
    display: none;
    margin: 0 auto;
    #table-of-content {
      padding-bottom: 80px;
      padding-top: 3%;
      padding-left: 2%;
      z-index: 3;
      background: white;
      width: 100%;
      font-size: 110%;
      /* height: 80%; */
      bottom: 0;
    }
  }
  #content {

    margin: 0 auto;
  }
}

@media screen and (max-width: 771px) {
  #content {
    margin: 10px;
    width: 92%;
  }
  .year {
    width: 100%;
  }
}

//menu
.menu {
  display: block;
  width: 500px;
  height: 100%;
  background-color: blue;
  ul {
    li{
      display: inline;
      float: left;
      list-style: none;
    }
  }
}

img.smaller {
  height: 50%;
  width: 50%;
  margin: 0 auto;
  display: block;
}
img.small {
  height: 60%;
  width: 60%;
  display: block;
  margin: 0 auto;
}

.cv-title {
  margin-top: 10px;
  text-align: center;
  h3 {
    margin-right: 255px;
    letter-spacing: 1.5px;
  }
  h1 {
    font-size: 2em;
  }
  .menu {
    margin-left: 50px;
    font-size: 2em;
    li {
      border-bottom: 2px solid rgba(100, 100, 100, 1);
      padding-bottom: 10px;
    }
  }
}
