h1
  #title(style='text-align: center') CV
h3
  div(style='text-align: center; letter-spacing: 1.5px; margin-left: 3px; border-bottom: 1px solid rgba(100, 100, 100, 0.2); padding-bottom: 20px') Markus S&oslash;rem
  #mobile-menu
    i.fa.fa-angle-up
      |     
      button Innholdsfortegnelse
    ol#index
      #table-of-content
        li
          a(href='#utdanning') Utdanning
          |             
          ol
            li
              a(href='#yeungnam') Yeungnam
            |                 
            li
              a(href='#westerdals') Westerdals
            |                 
            li
              a(href='#hisf') H&oslash;gskulen i Sogn og Fjordane
            |                 
            li
              a(href='#solbakken') Solbakken folkeh&oslash;gskole
            |                 
            li
              a(href='#tromsdalen') Tromsdalen videreg&aring;ende skole
        |         
        li
          a(href='#erfaring') Erfaring
          |             
          ol
            li
              a(href='#lysehagan') Oslo Kommune
            |                 
            li
              a(href='#alfheim') Alfheim aktivitetshus
        |         
        li
          a(href='#grafisk') Verv
          |             
          ol
            li
              a(href='#nito') NITO Studentene
            |                 
            li
              a(href='#fubar') #fuBar
            |                 
            li
              a(href='#dat') Det Andre Teatret
    #content
      #utdanning.section
        h1
          #utdanning-h Utdanning 
        |         
        #Yeungnam.elem
          .year
            | 2015 - 2016. 
            br
            | Ett semester
          |  
          h3 Yeungnam University
          |             
          br
          |             
          b Type: 
          |  Utveksling
          |             
          br
          |             
          b Sted: 
          |  Daegu, S&oslash;r-Korea
          |             
          br
          |             
          b Fag: 
          |   Object Design, Design Culture Trends, Mobile Programming, Consumer Behavior
        |         
        #westerdals.elem
          .year 2013 - 2016
          |  
          h3 Westerdals Oslo, School of Arts, Communication and Technology
          |             
          br
          |             
          b Type: 
          |  H&oslash;yskole
          |             
          br
          |             
          b Sted: 
          |  Oslo
          |             
          br
          |             
          b Linje: 
          |  Interaktivt design
          |             
          br
          |             
          b Snitt:
          |  B
        |         
        br
        |         
        #hisf.elem
          .year 2012 - 2013
          |  
          h3 H&oslash;gskulen i Sogn og Fjordane
          |             
          br
          |             
          b Type: 
          |  H&oslash;yskole
          |             
          br
          |             
          b Sted: 
          |  Sogndal
          |             
          br
          |             
          b Linje: 
          |  Barnehagel&aelig;rer
          |             
          br
          |             
          p Avbrutt bachelor. L&aelig;rte mye pedagogikk og om barns tidlige utvikling.
        |         
        br
        |         
        #solbakken.elem
          .year 2010 - 2012
          |  
          h3 Solbakken folkeh&oslash;gskole
          |             
          br
          |             
          b Type: 
          |  Folkeh&oslash;gskole
          |             
          br
          |             
          b Sted: 
          |  Skarnes, Hedmark
          |             
          br
          |             
          b Linje: 
          |  Teater, sang og dans.
          |             
          br
          |             
          p
            | Jeg l&aelig;rte &aring; t&oslash;rre &aring; st&aring; p&aring; scenen, synge og danse foran mange mennesker. Gikk to &aring;r siden jeg &oslash;nsket &aring; l&aelig;re auditionteknikk i tillegg.
        |         
        br
        |         
        #tromsdalen.elem
          .year 2008 - 2010
          |  
          h3 Tromsdalen videreg&aring;ende skole
          |             
          br
          |             
          b Type: 
          |  Videreg&aring;ende skole.
          |             
          br
          |             
          b Sted: 
          |  Troms&oslash;.
          |             
          br
          |             
          b Linje: 
          |  Almennfaglig.
          |             
          br
          |             
          p Jeg l&aelig;rte &aring; t&oslash;rre &aring; st&aring; p&aring; scenen, synge og danse foran mange mennesker.
      |     
      #erfaring.section
        h1 Erfaring
        |         
        #lysehagan.elem
          .year 2012 - n&aring;v&aelig;rende
          |  
          h3 Oslo Kommune
          |             
          br
          |             
          b Type: 
          |  Lysehagan bolig for psykisk utviklingshemmede. Milj&oslash;arbeider.
          |             
          br
          |             
          b Sted: 
          |  Oslo
          |             
          br
          |             
          p Deltidsjobb. Jobber 20%, kun helger.
        |         
        #alfheim.elem
          .year 2012 - n&aring;v&aelig;rende
          |  
          h3 Alfheim aktivitetshus
          |             
          br
          |             
          b Type: 
          |  Sommerkurs for psykisk utviklingshemmede.
          |             
          br
          |             
          b Sted: 
          |  Troms&oslash;.
          |             
          br
          |             
          p
            | Har hver sommer fra 2006 - 2014 jobbet p&aring; et sommerkurs for utviklingshemmede. Jeg organiserer teater, musikk, forming og utflukter, samt at jeg er med p&aring; turer til Sverige, Narvik etc.
      |     
      #verv.section
        h1 Verv og frivillighet
        |         
        #nito.elem
          .year 2012 - 2015
          |  
          h3 NITO Studentene
          |             
          br
          |             
          b Type: 
          |  Fagorganisasjon. Leder i lokallaget
          |             
          br
          |             
          b Sted: 
          |  Oslo
          |             
          br
          |             
          p
            | Jobbet for &aring; bedre studievilk&aring;r og tilbud til studentene. Har blant annet organisert jobbs&oslash;kerkurs, mattekurs, gr&uuml;nderkurs og deltatt p&aring; en rekke arrangementer med andre
            | NITO studenter.
        |         
        #fubar.elem
          .year 2013 - 2014
          |  
          h3 #fuBar
          |             
          br
          |             
          b Type: 
          |  Studentbar. Var innkj&oslash;psansvarlig.
          |             
          br
          |             
          b Sted: 
          |  Oslo
          |             
          br
        |         
        #dat.elem
          .year 2013 - 2015
          |  
          h3 Det Andre Teatret
          |             
          br
          |             
          b Type: 
          |  Frivilligdrevet teater. Drev med kundebehandling og rengj&oslash;ring.
          |             
          br
          |             
          b Sted: 
          |  Oslo
          |             
          br
          |             
          p Jobbet annenhver uke.
