//- <div id="content">
//- 
//-     <div id="utdanning" class="cv-section">
//-         <h1><div id="utdanning-h">Utdanning </div></h1>
//- 
//-         <div id="Yeungnam" class="elem">
//-             <div class="year" >2015 - 2016. <br>Ett semester</div> <h3>Yeungnam University</h3>
//-             <br>
//-             <b>Type: </b> Utveksling
//-             <br>
//-             <b>Sted: </b> Daegu, Sør-Korea
//-             <br>
//-             <b>Fag: </b>  Object Design, Design Culture Trends, Mobile Programming, Consumer Behavior
//-         </div>
//- 

//- <h1><div id="title" style="text-align: center">CV</div></h1>
h1 
  .title(style="text-align: center")
    | Om meg
    

#content
  #navn(class="cv-section")
    h1 Markus Sørem
    p 24 år.
    //- p Jeg ønsker å hjelpe folk. Jeg er interessert i 
    a(href="#") LinkedIn
    p Twitter
    
  
