.slide
  .site-title
    h1 Dubi
  .preview.img-dubi
    .project-info
      p En 
        b quizapplikasjon 
        | for klasserommet. 
        br  
        a(href="#dubi/1") Mer info
.slide
  h1 DUBI YEAH
