.slide
  .navigation.nav-right
    a.right Detaljer
      i.fa.fa-long-arrow-right
  .site-title
    h1 Dubi
    //a(href="#").arrow-right.arrow
    p Quizapplikasjon for klasserommet.
      //i.ion-ios-arrow-thin-right


  .preview.img-dubi
  //.info
    a.arrow-right Detaljer ➝
    //.project-info
      //p En
        b quizapplikasjon
        | for klasserommet.
        br
        a(href="#dubi/1") Mer info
    .slide.project
      .bg-img
      .white-box
      .project-details
        .navigation.nav-left
          a.left
            i.fa.fa-long-arrow-left
      .project-card
        //img(src="img/dubi_home_2.jpg")
        .pj-intro
          h1.name dubi
          p.intro to question something.
        div.dotted
        .info-wrap
          p.info Periode:
          p.info Oppgave:
          p.info Kunde:
        .info-info-wrap
          p.info-info 2014 - 2015
          p.info-info Sanntidskommunikasjon i klasserommet.
          p.info-info Gyldendal Forlag.
        div.dotted
        .project-body
          p dubi er en quizapplikasjon for klasserommet.
          p Navnet "dubi" kommer fra de latinske ordene:
          ul
            li dubious: tvilsom, spørrende
            li ibidem, på samme bokside
            li dubium: tvil, nøling
          h2 Min rolle
          p Jeg hadde hovedansvar for
            i visuelt design
            | og
            i interaksjonsdesign,
            | samtidig som jeg utviklet mye av koden på front-end.
          p Jeg jobbet sammen med fire programmeringsstudenter. Å være den eneste designeren på gruppa var en god erfaring, men også utfordrende. Jeg måtte for eksempel “kjempe” for å overtale gruppekameratene mine om å prioritere brukertesting.
          h2 Målgruppe
          p Målgruppen var ungdomsskoleelever, og dubi skulle være en quizapplikasjon som skulle være et supplement for ungdomsskoleelevene, først i klasserommet som en quiz i sanntid, og etterpå for å repetere fagstoffet. Kunden var Gyldendal Forlag, og målet var å lage en teknisk løsning som kunne bli tatt i bruk etter prosjektet var over.
          h2 Prototype
          p For å utvikle prototypen, tok jeg i bruk Zurb Foundation 5. Dette er et frontend-rammeverk som jeg ikke hadde erfaring med, men som jeg visste at var effektivt å bruke for å lage prototyper.
