//- .slide.prev
//-   .prev-name
//-     .site-title
//-       h1 Prosjekter
//-     //h1 Dubi
//-     //p.small.bold  Dubi
//-     //- br
//-     p.small  Grafisk design-prosjekter  
//-     
//-     //  p.small.bigger 🛠 Konsept, interaksjon- og grafisk design 
//-   
//- 
//-   .read-more
//-     a(href="#") 
//-       i.fa.fa-chevron-right
//-   .preview
//-     .img-kutt
//-     //- .name-wrap
//-     //-   h1 Dubi
//-     //- .name-wrap
//-     //-   .name
//-     //-     h1 Dubi
//-   .read-more
//-     a(href="#") Mer info
//-     //- i.ion-ios-arrow-right.arrow
//-     br
//-     
//-   .slide
