.slide
  .site-title
    h1 Kjøttkutt
  .preview.img-kutt
    .project-info
      p En 
        b app 
        | som hjelper deg 
        br
        | med å spise sunt. 
        br
        a(href="#kjottkutt/1") Mer info
.slide
  h1 KJØTTKUTT YEAH
