.slide
  .site-title
    h1 Kjøttkutt
  .preview.img-kutt
    .project-info
      p En 
        b app 
        | som hjelper deg å spise sunt. 
        br  
        br
        a(href="#kjottkutt/1") Mer info
